*.DS_Store
**/*.swp
**/*.class
Alt/Python
Einfprog/
*.icloud
Textbooks/
FL/abgabe.txt
Analysis/
*/ipynb_checkpoints/
*.key
html/
*.csv
*/.git/
*.class
*.tsv
S5/Systems/repo
S5/HCI_UUXE/VO_prep
S5/HCI_UUXE/VO_prep_html
S6/Natural/ps_repo
S6/Simulation/ps_repo
S6/Bachelor
*mkv
.gitignore
